= form_tag('/', :id => "main_form") do
  #locales
    .locale.current
      = select_tag(:current_locale,
        options_for_select(Locale.all.sort_by {|l| l.name(l.code) }.map {|l| [l.name(l.code), l.code] }, I18n.locale))
    .locale.target
      = select_tag(:target_locale,
        options_for_select(Locale.all.sort_by {|l| l.name }.map {|l| [l.name, l.code] }, @target_locale))

  #categories
    %ul.tabs
      - @categories.each do |category|
        %li= link_to(category.name,
          "#category_features_#{category.key}",
          :class => (category == @categories.first ? 'current' : ''))

  #features
    .panes
      - @categories.each do |category|
        %ul.pane{:name => "category_features_#{category.key}"}
          - category.features.each do |feature|
            %li
              = check_box_tag "features[#{feature.id}]", feature.id , @checked_features.include?(feature)
              = label_tag "features[#{feature.id}]", feature.name

  #preview= render 'preview'
    
  #save= submit_tag